/*-----------------------------------------------------------------*/
/*
Style for the UAS app 
*/
/*-----------------------------------------------------------------*/
/*                    main elements on GUI                         */
/*-----------------------------------------------------------------*/
/* Customize fonts */
body, label, input, button, select { 
    font-family: Plexes !important;
    font-weight: 200;
}

/* Define size of side panel */
.well {height: 870px;}"

/* Customize main box */
div.main {
    background-color: #282C31;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

/* Customize main box */
div.radio {
    margin-top: 120px;
    margin-bottom: 0px;
}

/* Draw dropdown manu always on top of elements */
.dropdown-menu{z-index:10000 !important;}

/* Tables*/
.dataTables_length label,
.dataTables_filter label,
.dataTables_info {color: white!important;}
.paginate_button {background: white!important;}
.dataTables_wrapper {color: white!important;}
thead {color: white;}

/* Input selector*/
.selectize-input {
    font-size: 12px; line-height: 24px;
} 

/* Leaflet in error*/
.leaflet-container {
    background-color: grey!important;
  }

/*-----------------------------------------------------------------*/
/*                         HTML FILES                              */
/*-----------------------------------------------------------------*/
/* Centered images */	
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  /* Container of images */
  .container { 
    height: auto;
    position: relative;
    border: 3px solid rgba(0, 128, 0, 0); 
  }
  /* Button to hide/show images */
  .centerBTN {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /* Button to hide/show images */
  .Imgbutton {
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    border-width: 2px;
    border-color: rgb(150, 150, 150);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 5px;
    cursor: pointer;
  }
  /*-----------------------------------------------------------------*/
  /* The alert message box */	
.alert-box {
    color:#555;
    border-radius:10px;
    font-size:15px;
    padding:10px 10px 10px 36px;
    margin:10px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}
/* Warning alert message box */	
.warning {
    background:#f4d436bc url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
/* The close button of the warning box*/
.closebtn {
  margin-left: 15px;
  color: #555;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
/*-----------------------------------------------------------------*/
/* Table style */
table.ProtTable {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  td.ProtTable {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th.ProtTable {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd10;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .rowProtTable {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .columnProtTable {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clear fix (clear floats) */
  .rowProtTable::after {
    content: "";
    clear: both;
    display: table;
  }

  /*-----------------------------------------------------------------*/

li {
    list-style-type: none;
  }
  .completed {
      color: green;
    }
  /*-----------------------------------------------------------------*/
.hover-image {
      display: inline-block;
      position: relative;
    }
    
.hover-image img {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 200px;
      z-index: 0; /* Set a high z-index to make it appear on top */
    }
    
.hover-image:hover img {
      display: block;
    }
/*-----------------------------------------------------------------*/
